@import url("https://fonts.googleapis.com/css?family=Nunito:400,600,700,800|Poppins:400,600,700,900&display=swap");

/* font-family: 'Nunito', sans-serif; */
/* font-family: 'Poppins', sans-serif */

.banner {
  width: 100%;
  height: 100vh;
  position: absolute;
  overflow: hidden;
  z-index: -1;
}

.parallax {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh !important;
}
.banner .parallax{ 
  height: 102vh !important;
}

.layer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  will-change: transform;
}

.layer1 {
  background-image: url(../../assets/img/main-bg.jpg);
  position: absolute;
  top: 0;
  left: 0;
  background-size: cover;
  height: calc(100% + 5vh);
  left: -2.5vw;
  top: -2.5vh;
  width: calc(100% + 5vw);
}

.layer2 {
  /* background-image: url(); */
  width: 700px;
  height: 25ch;
  position: absolute;
  top: 450px;
  left: 80px;
  background-size: cover;
}

.text-container {
  display: flex;
  font-family: "Nunito";
  justify-content: center;
  align-items: center;
  height: 100vh;
  flex-flow: column;
  margin-top: 180px;
}
.text-container h1 {
  font-weight: 900;
  font-size: 32px;
}
.text-container h4 {
  font-weight: 700;
  font-size: 26px;
}
.phone {
  margin-top: 15px;
}
.phone a {
  font-family: "Nunito";
  font-weight: 700;
  color: #000;
  font-size: 25px;
}

