.c1 {
    position: absolute;
    max-width: 500px;
    max-height: 500px;
    width: 35ch;
    height: 35ch;
    cursor: pointer;
    will-change: transform, opacity;
  }
  .c1 {
    background-color: rgba(0, 0, 0, 0.8);
  }
  .front1,
  .back1 {
    background-size: cover;
  }
  
  .front1 {
    background-color: #c8c8c8;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 10px;
    color: #000;
  }
  
  .back1 {
    background-color: rgba(0, 0, 0, 0.8);
    background-image: url(../../../assets/img/services/cleaning-supply-bucket-in-kitchen.jpg);
    border-radius: 10px;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
  }
  
  .MainText1 {
    position: absolute;
    bottom: 25px;
    left: 25px;
    font-size: 25px;
    color: #fff;
  }
  .article-content{
    position: absolute;
    bottom: 20px;
    left: 10px;
    color: #fff !important;
  }
  .article-title{
    margin-bottom: 10px;
  }
  .article-info{
    display: inline-flex;
    align-items: center;
  }
  .article-info, ul, li{ 
    color: #fff !important; 
  }
  .MuiSvgIcon-root{
    margin-right: 5px;
    font-size: 1em;
  }