@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,600,700&display=swap");

.MainContainer5 {
  font-family: "Open Sans", sans-serif;
  display: flex;
  flex-flow: column;
  align-items: center;
}
.MainTitleReview h2{
    font-size: 60px;
    color: #2b2b2b;
    font-weight: 700;
    text-align: center;
}
.ReviewsFormWrap{
    width: 60%;
    display: flex;
    flex-flow: column;
    align-items: center;
    margin-top: 30px;
}
.FormTitleWrap{
    font-size: 28px;
    color: #2b2b2b;
    text-align: center;
}
.FormSubTitleWrap{
    font-size: 19px;
    color: #2b2b2b;
    font-weight: bold;
    margin-top: 25px;
    width: 80%;
    text-align: center;
}
.ReviewFormField{
    display: flex;
    margin-bottom: 30px;
    margin-top: 50px;
}
.FormElement{
    margin-right: 30px;
}
.RationWrap{
  display: flex;
  flex-direction: initial;
  justify-content: space-around;
}
.RationWrap p{
  font-size: 17px;
  color: rgb(121, 121, 121);
}

/* .MuiInputBase-input{
  width: 250px !important;
} */
.material-input {
  height: 70px;
}
.material-input label {
  line-height: 62px;
  height: 46px;
}

.material-textarea {
  height: 152px;
}
.material-textarea label {
  line-height: 62px;
  height: 130px;
}
.material-textarea textarea:invalid ~ #counter {
  color: red;
}
.material-textarea textarea:invalid ~ #counter:after {
  color: red;
}
.material-textarea textarea:placeholder-shown:invalid ~ #counter {
  color: black;
}
.material-textarea textarea:placeholder-shown:invalid ~ #counter:after {
  color: black;
}
.material-textarea textarea ~ #counter {
  position: absolute;
  bottom: 3px;
  right: 0;
  color: black;
  font-size: 12px;
}
.material-textarea textarea ~ #counter:after {
  content: ' / 500';
  color: black;
}

.material-input, .material-textarea {
  position: relative;
  margin-bottom: 6px;
  overflow: hidden;
  /* font-family: arial, sans-serif; */
}
.material-input label, .material-input input, .material-input textarea, .material-input .error, .material-textarea label, .material-textarea input, .material-textarea textarea, .material-textarea .error {
  position: absolute;
  left: 0;
  width: 97%;
  font-size: 16px;
}
.material-input textarea, .material-textarea textarea {
  height: 100px;
  resize: none;
}
.material-input input, .material-input textarea, .material-textarea input, .material-textarea textarea {
  top: 12px;
  border: none;
  margin: 8px 0;
  background: none;
  z-index: 2;
}
.material-input input:focus, .material-input textarea:focus, .material-textarea input:focus, .material-textarea textarea:focus {
  outline: none;
}
.material-input input:focus + label, .material-input input:valid + label, .material-input input:not(:placeholder-shown) + label, .material-input textarea:focus + label, .material-input textarea:valid + label, .material-input textarea:not(:placeholder-shown) + label, .material-textarea input:focus + label, .material-textarea input:valid + label, .material-textarea input:not(:placeholder-shown) + label, .material-textarea textarea:focus + label, .material-textarea textarea:valid + label, .material-textarea textarea:not(:placeholder-shown) + label {
  line-height: 18px;
  font-size: 12px;
}
.material-input input:placeholder-shown ~ .error, .material-input input:valid ~ .error, .material-input textarea:placeholder-shown ~ .error, .material-input textarea:valid ~ .error, .material-textarea input:placeholder-shown ~ .error, .material-textarea input:valid ~ .error, .material-textarea textarea:placeholder-shown ~ .error, .material-textarea textarea:valid ~ .error {
  opacity: 0;
}
.material-input input:focus + label, .material-input textarea:focus + label, .material-textarea input:focus + label, .material-textarea textarea:focus + label {
  color: #3f51b5;
}
.material-input input:focus + label:after, .material-input textarea:focus + label:after, .material-textarea input:focus + label:after, .material-textarea textarea:focus + label:after {
  visibility: visible;
  left: 0;
  width: 100%;
}
.material-input input:focus + label + .error, .material-input textarea:focus + label + .error, .material-textarea input:focus + label + .error, .material-textarea textarea:focus + label + .error {
  opacity: 0;
}
.material-input input:not(:focus):not(:placeholder-shown):invalid, .material-input textarea:not(:focus):not(:placeholder-shown):invalid, .material-textarea input:not(:focus):not(:placeholder-shown):invalid, .material-textarea textarea:not(:focus):not(:placeholder-shown):invalid {
  transition-delay: 0s;
  color: red;
}
.material-input input:not(:focus):not(:placeholder-shown):invalid + label, .material-input textarea:not(:focus):not(:placeholder-shown):invalid + label, .material-textarea input:not(:focus):not(:placeholder-shown):invalid + label, .material-textarea textarea:not(:focus):not(:placeholder-shown):invalid + label {
  transition: all .2s 0s;
  color: red;
}
.material-input input:not(:focus):not(:placeholder-shown):invalid + label:after, .material-input textarea:not(:focus):not(:placeholder-shown):invalid + label:after, .material-textarea input:not(:focus):not(:placeholder-shown):invalid + label:after, .material-textarea textarea:not(:focus):not(:placeholder-shown):invalid + label:after {
  visibility: visible;
  left: 0;
  width: 100%;
  background: red;
  transition-delay: 0s;
}
.material-input label, .material-textarea label {
  color: #666;
  transition: 0.2s all cubic-bezier(0.4, 0, 0.2, 1);
  box-shadow: inset 0px -1px #aaa;
  z-index: 1;
}
.material-input label:after, .material-textarea label:after {
  content: '';
  visibility: hidden;
  position: absolute;
  left: calc(50% - 5px);
  bottom: 0;
  background-color: #3f51b5;
  width: 10px;
  height: 2px;
  transition-duration: 0.2s;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  z-index: 10;
}
.NameInput{
  margin-top: 8px;
}
.MaskInput{
  margin-right: 3px;
}
.InputMaskElement{
  border:none;
  border-bottom: 1px solid #000;
  margin-top: 15px;
  outline: none;
  transition: 0.2s;
}





.material {
  position: relative;
  padding: 0;
  border: none;
  overflow: visible;
}
.material .InputMaskElement {
  box-sizing: border-box;
  width: 100%;
  padding: 12px 10px 5px;
  border: none;
  border-radius: 0;
  box-shadow: none;
  border-bottom: 1px solid #a8a8a8;
  font-size: 120%;
  outline: none;
  cursor: text;
}
.material .InputMaskElement::-webkit-input-placeholder {
  -webkit-transition: color 300ms ease;
  transition: color 300ms ease;
}
.material .InputMaskElement:not(:focus)::-webkit-input-placeholder {
  color: transparent;
}
.material hr {
  content: '';
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 2px;
  border: none;
  background: #7086d1;
  font-size: 1px;
  will-change: transform, visibility;
  -webkit-transition: all 200ms ease-out;
  transition: all 200ms ease-out;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  visibility: hidden;
  z-index: 10;
}
.material input:focus ~ hr {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
  visibility: visible;
}
.material label {
  position: absolute;
  top: 26px;
  left: 10px;
  font-size: 26px;
  color: #7086d1;
  -webkit-transform-origin: 0 -150%;
          transform-origin: 0 -150%;
  -webkit-transition: -webkit-transform 300ms ease;
  transition: -webkit-transform 300ms ease;
  transition: transform 300ms ease;
  transition: transform 300ms ease, -webkit-transform 300ms ease;
  pointer-events: none;
}
.material input:focus ~ label,
.material input:valid ~ label {
  -webkit-transform: scale(0.6);
          transform: scale(0.6);
}









